@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/* * {

    font-family: Poppins;
    
} */

body {
    width: 100%;
    height: 100%;
    font-family: Poppins;

}

.container {
    width: 100vw;
    height: 100vh;
    /* margin-left: 28%; */


}

.signup {
    width: 45%;

    margin: 25px auto;
    
}

.signup form {
    /* background: white; */
    border: 2px solid #5a54ff ;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    
    margin-top: 10%;
}

.signup input[type="email"], input[type="password"]{

border: 2px solid black;
display: block;
/* outline: none; */
padding: 10px 0px 5px;
margin: 10px auto 25px;
width: 90%;
/* color: #5a4fcf;; */
color: rgba(0, 0, 0, 0.637);
font-size: 20px;
padding-left: 10px;

}



.signup input[type=submit]{
    border: none;
    border-radius: 25px;
    display: block;
    background: #5a54ff;
    padding: 10px 35px;
    /* max-width: 90%; */
    color: white;
    font-weight: bolder;
    margin: 15px auto 10px;
    width: 30%;
    }


    .signup input[type=submit]:hover{

        background: #5a54ffcb;
    }

.signup .inputs {
width: 45%;
display:inline-block;
margin: 2px auto;
}

.signup label {
   
    color: rgba(0, 0, 0, 0.637);
    /* text-align: left; */
    
}

.signup form h2 {
  
    color: rgba(0, 0, 0, 0.637);
    font-weight: bolder;
    margin: 10px 0px 20px;
    width: 100%;
}

.signup form p {
    color: black;
    text-align: center;
    margin: 10px;
    width: 90%;
}
    
.signup form a{
    text-decoration: none;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.566); 
    width: 90%; 
    font-size: larger;
}

.signup form a:hover{
    color: rgba(0, 0, 0, 0.333);  
}

/* ////////////////////////////////////////////////////////////// */


@media  (min-width:600px) and (max-width: 899px) {
   
   .signup {
   width: 75%;
   margin: 25px auto ;
   
}
   .signup form {
   padding: 10px;
   width: 100%;

}

   .signup input[type=submit]{

   padding: 10px 15px;
   }
   
.signup .inputs {
width: 65%;

}


 }


 
@media  (min-width:400px) and (max-width: 599px) {

   .signup {
   width: 75%;
   margin: 25px ;
   
   
}
   .signup form {
   padding: 10px;
   width: 100%;

}

.signup form h2 {
 font-size: large;


}

.signup input[type=submit]{

padding: 10px 15px;
}

.signup .inputs {
width: 65%;

}


.signup form p {
font-size: small;
}
   
.signup form a{
  
   font-size: small;
}


 }

 /* //////////////////////////////////////////////////////////////// */

 @media  (min-width:280px) and (max-width: 399px) {

.signup {
width: 75%;
margin: 25px ;

}
.signup form {
padding: 10px;
width: 100%;


}

.signup form h2 {
font-size: large;


}

.signup input[type=submit]{

padding: 10px 15px;
}

.signup .inputs {
width: 65%;

}


.signup form p {
font-size: small;
}

.signup form a{

font-size: small;
}


}


