@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins;

   
    
}

body {
    width: 100%;
    height: 100%;
    
  
}

.container {
    width: 100vw;
    height: 100vh;
    /* margin-left: 28%; */


}

.signup {
    width: 45%;
    margin: 25px auto;
    
    
}

.signup form {
    background: white;
    border: 2px solid #f54e4e ;
    border-radius: 25px;
    text-align: center;

    
    margin-top: 10%;
}

.signup input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"]{
border: 2px solid black;
display: inline;
outline: none;
padding: 10px 0px 1px;
margin: 10px auto 25px;
width: 90%;
color: rgba(0, 0, 0, 0.637);
font-size: 20px;

}



.signup input[type=submit]{
    border: none;
    border-radius: 25px;
    display: block;
    background: #f54e4e;
    padding: 10px 35px;
    /* max-width: 90%; */
    color: white;
    font-weight: bolder;
    margin: 15px auto 10px;
    width: 30%;
    }


    .signup input[type=submit]:hover{

        background: #f54e4ec4;
    }

.signup .inputs {
width: 45%;
display:inline-block;
margin: 2px auto;
}

.signup label {
 
    color: rgba(0, 0, 0, 0.637);
    text-align: left;
}

.signup form h2 {

    color: rgba(0, 0, 0, 0.637);
    font-weight: bolder;
    margin: 10px 0px 20px;
    width: 100%;
}

.signup form p {
    color: black;
    text-align: center;
    margin: 10px;
    width: 90%;
}
    
.signup form a{
    text-decoration: none;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.566); 
    width: 90%; 
    font-size: larger;
}

.signup form a:hover{
    color: rgba(0, 0, 0, 0.333);  

}

 #s1 {
    color: red;
    font-size:small;
    position:absolute;
    top:27%;
    left:35%;
}

#s2{
    color: red;
    font-size:small;
    position:absolute;
    top:27%;
    left:56%;
}

#s3{
    color: red;
    font-size:small;
    position:absolute;
    top:40%;
    left:35%;

}

#s4{
    color: red;
    font-size:small;
    position:absolute;
    top:40%;
    left:56%;
}

#s5{
    color: red;
    font-size:small;
    position:absolute;
    top:50%;
    left:35%;
}

#s6{
    color: red;
    font-size:small;
    position:absolute;
    top:50%;
    left:57%;
}

#s7{
    color: red;
    font-size:small;
    position:absolute;
    top:67%;
    left:31%;
}

#s8{
    color: red;
    font-size:small;
    position:absolute;
    top:67%;
    left: 56%;
}


#s9{
    color: red;
    font-size:small;
    position:absolute;
    top:80%;
    left: 43%;
   
}

/* ///////////////////////////////////////////////////// */

@media  (min-width:600px) and (max-width: 999px) {
   
   .signup {
   width: 90%;

   margin: 25px auto;
   
}

.signup form {
   width: 100%;
   margin-top: 10%;
}
}
/* /////////////////////////////////////////////////// */


@media  (min-width:400px) and (max-width: 599px) {
  
  .signup {
  width: 90%;

  margin: 25px ;
  
}

.signup form {
  width: 100%;
  margin-top: 10%;
}
.signup form h2 {
  font-size: large;
}

.signup form p {
  font-size: small;
}

.signup input[type=submit]{
   
   padding: 10px 15px;


   }

}

/* /////////////////////////////////////////////////// */


@media  (min-width:280px) and (max-width: 399px) {
  
  .signup {
  width: 90%;

  margin: 15px ;
  
}

.signup form {
  width: 100%;
  margin-top: 10%;
}
.signup form h2 {
  font-size: large;
}

.signup form p {
  font-size: small;
}

.signup input[type=submit]{
   
   padding: 10px 15px;


   }

}